use Mix.Config

# Configure your database
config :mate, Mate.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "postgres",
  username: "postgres",
  password: "postgres",
  hostname: "localhost",
  pool_size: 20

config :mate, :upyun,
  bucket: %{"image" => "image-key",
			"avatar" => "avatar-key"} 


config :mate, :jwt,
	secret: "jwt_secret"