use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
config :mate, Mate.Endpoint,
  secret_key_base: "vDkHsafeeIQ6V/OYJOp5Jb/Eiy6Z3cJ4RSZcR3fgKqWAssYtHe2hrMazzaTs6OEJ"

# Configure your database
config :mate, Mate.Repo,
  adapter: Ecto.Adapters.Postgres,
  database: "postgres",
  username: "postgres",
  password: "postgres",
  hostname: "localhost",
  pool_size: 20

config :mate, :upyun,
  bucket: %{"image" => "image-key",
			"avatar" => "avatar-key"} 

config :mate, :jwt,
	secret: "jwt_secret"