<div class="content-wrapper">
    <section class="content">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <ul class="topic_list list-group">
                        <li class="list-group-item media"
                            ng-repeat="article in articles | orderBy:'updated_at':true">

                            <div class="media-left">
                                <a class="user_avatar" href="/users/{{article.user.id}}">
                                    <img ng-src="{{article.user.avatar}}" height="48" width="48" class="img-rounded">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="/posts/{{article.id}}">
                                        {{article.title}}
                                    </a>
                                </h4>
                                <h5 class="media-heading small">
                                    <large id="post_small">
                                        <a href="/users/{{article.user.id}}" class="author">{{article.user.name}}</a>
                                        的文章于{{article.update_time}}最后更新
                                    </large>
                                </h5>
                            </div>
                            <div class="media-right">
                                <h4>
                                    <div ng-if="hasComments(article)">
                                        <div class="label label-primary">
                                            {{article.comments_count}}
                                        </div>
                                    </div>
                                    <div ng-if="!hasComments(article)">
                                        <div class="label label-default">
                                            {{article.comments_count}}
                                        </div>
                                    </div>
                                </h4>
                            </div>
                        </li>
                        <li class="topics_pagination list-group-item">
                            <span ng-click="prePage()" class="label label-default">上一页</span>
                            <span ng-bind="currentPage"></span>
                            <span ng-click="nextPage()" class="label label-default">下一页</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>